<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
       
    <title>Users Cart</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>  
    <script>
    function clicked(e){
        	
			if(!confirm('Are you sure you want to delete?'))e.preventDefault();
			}
    </script>  
    </head>
    <body style="background:gray">
        <#include "navbar.html">
        <div class="container">
            <table class="table table-hover table-condensed">
            	<tr class="info" style="background:white">	
                	<th>Title</th>
                	<th>Author</th>
                	<th>Price</th>
                </tr>
                <#list bookCart as b>
                	<tr style="background:white">
                	<td>${b.title} <span class="badge">${b.cartQuantity}</span></td>
                	<td>${b.author}</td>
                	<td>$${(b.sellingPrice * b.cartQuantity)?string(",##0.00")}<form action="BookstoreServlet" method="POST" id="${b.id?html}" onclick="clicked(event)" class="pull-right">
                							<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-trash"></span></button>
                							<input type="hidden" name="page" value="deleteFromCart">
                							<input type="hidden" name="deleteBookId" value="${b.id}">
                							</form></td>
                	</tr>
                </#list>
                
                <tr style="background:white">
                <td></td>
                <td>Total:</td>
                <td>$${cart.totalPrice?string(",##0.00")}
                </tr>
            </table>
                
        	</div> 
	</body>
</html>