<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
       
    <title>Checkout</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>  
    </head>
       <body>
       <#include "navbar.html">
        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-1">
            <form action="BookstoreServlet" method="POST">
                <fieldset>
    
                    <legend><#if cust.userInfo??>Is this the correct shipping info?<#else>Update your shipping info</#if></legend>
                    
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" id="address" <#if cust.userInfo??>value="${cust.userInfo.address?html}"</#if>>
                    </div>
                    
                    <div class="form-group">
                        <label for="number">Phone Number</label>
                        <input type="text" class="form-control" name="number" id="number" <#if cust.userInfo??>value="${cust.userInfo.number?html}"</#if>>
                    </div>
                    <div class="form-group">
                        <label for="cardType">Card Type</label>
                        <input type="text" class="form-control" name="cardType" id="cardType" <#if cust.userInfo??>value="${cust.userInfo.cardType?html}"</#if>>
                    </div>
                    <div class="form-group">
                        <label for="cardNum">Card Number</label>
                        <input type="text" class="form-control" name="cardNum" id="cardNum" <#if cust.userInfo??>value="${cust.userInfo.cardNumber?html}"</#if>>
                    </div>
                    <div class="form-group">
                        <label for="cardExp">Card Expiration Date</label>
                        <input type="date" class="form-control" name="cardExp" id="cardExp" <#if cust.userInfo??>value="${cust.userInfo.cardExpDate?html}"</#if>>
                    </div>
                    
                    <#if cust.userInfo??>
                    	<#if cust.userInfo.promos??>
                    <#else>
                    <input type="checkbox" name="promos" value="promos">Sign up to get promo deals emailed to your email?
                    </#if>
                    <#else>
                    <input type="checkbox" name="promos" value="promos">Sign up to get promo deals emailed to your email?
                    </#if>
                    <button type="submit" class="btn btn-default" >Proceed to Checkout</button>
                    <input type="hidden" name="page" value="checkoutForm">
                </fieldset> 
            </form>
        </div>
    </div>
    </body>
</html>