<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="style.css" type="text/css" rel="stylesheet"/>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
       
    <title>Edit Users</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>    
    </head>
    
    <body>
    	<#include "navbar.html">
        <div class="container-fluid">
        <table cellspacing="0" class="table table-hover table-condensed">
        	<thead>
            	<tr class="info">
            		<th>User Id</th>
                	<th>First Name</th>
                	<th>Last Name</th>
                	<th>Email</th>
                	<th>Type</th>
                	<th>Status</th>
            	</tr>
            </thead>
            <tbody>
            <#if userSq??>
            <#list userSq as userSq>
            	<tr onclick="document.getElementById('${userSq.id?html}').submit()">
            	<td>${userSq.id}</td>
            	<td>${userSq.fname}</td>
            	<td>${userSq.lname}</td>
            	<td>${userSq.email}</td>
            	<td>${userSq.type}</td>
            	<td>${userSq.status}</td>
            	<form action="BookstoreServlet" method="POST" id="${userSq.id?html}">
            		<input type="hidden" name="page" value="editUserForm">
            		<input type="hidden" name="editUserId" value="${userSq.id?html}">
            	</form>
            	<tr>
            </#list>
            </#if>
            </tbody>
        
        </table>
        </div>
    
    </body>
</body>
</html>