<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./scripts/scripts.js"></script>
       
    <title>Online Bookstore</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>
	</head>
	<body>	
	<#include "navbar.html">
	 <div class="container">
            <div class="col-md-6 col-md-offset-3" id="allInputs">
                <form id="editUser"action="BookstoreServlet" method="post">
                    <fieldset>
                        <legend>User Info</legend>
                        <div class="input-group form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" name="fname"id="fname" value="${u.fname?html}"required>
                        </div>
						<div class="input-group form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" name="lname"id="lname" value="${u.lname?html}"required>
                        </div>
                        <div class="input-group form-group">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" name="email"id="email" value="${u.email?html}"required>
                        </div>
                        
                        <div class="input-group form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" name="number"id="phone_number" <#if userInfo??>value="${userInfo.number?html}"</#if>>
                        </div>
                        <div class="input-group form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address"id="address" <#if userInfo??>value="${userInfo.address?html}"</#if>>
                        </div>
                        <div class="input-group form-group">
                            <label for="card_type">Card Type</label>
                            <input type="text" class="form-control" name="card_type"id="card_type" <#if userInfo??>value="${userInfo.cardType?html}" </#if>>
                        </div>
                        <div class="input-group form-group">
                            <label for="email">Card Number</label>
                            <input type="text" class="form-control" name="card_number"id="card_number" <#if userInfo??>value="${userInfo.cardNumber?html}"</#if>>
                        </div>
                        <div class="input-group form-group">
                            <label for="email">Card Expiration Date</label>
                            <input type="text" class="form-control" name="card_exp_date"id="card_exp_date" <#if userInfo??>value="${userInfo.cardExpDate?html}"</#if>>
                        </div>
                        <p></p>
                        <input type="hidden" name="page" value="editUserProfile">
                        <input type="hidden" name="editUserId" value="${u.id?html}">
                        <button type="submit" class="btn btn-default" id="editUserProfile">Save Changes</button>
              
                    </fieldset>    
                </form>
            </div>    
        </div>

	</body>
</html>