<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="style.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./scripts/scripts.js"></script>
       
    <title>Online Bookstore</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/> 
    <script type="text/javascript">
		$(function(){
			$('addToCartForm').submit(function(e){
				e.preventDefault();
				$.ajax({
					type: $(this).attr('method'),
					url: $(this).attr('action'),
					data: $(this).serialize(),
					success:function(responseText){
							if(responseText.equals("true")){
									
								}
						}
					})
            });

		});
	</script>
    </head>
    <body>
        <#include "navbar.html">
        <div class="container">
           <#list bookSq as bq>
           		<#if bq?index< 12 >
           		<#if bq?index%4==0>
           		<div class="col-md-4">
           		</#if> 
           			<div class="media hoverDiv" onclick="document.getElementById('${bq.id?html}').submit()">
           				<form action="BookstoreServlet" method="POST" id="${bq.id?html}">
           					<input type="hidden" name="page" value="viewBook">
           					<input type="hidden" name="viewBookId" value="${bq.id?html}">
           				</form>
                            <div class="media-left">   
                            <img width="150" height="150" src="${bq.cover?html}">
                            </div> 
                            <div class="media-body">
                                <p>${bq.title}</p>
                                <p>${bq.author}</p>
                            <p>$${bq.sellingPrice}</p>
                         <#if type??>
                         <#if type != "ADMIN">
                         <form action="BookstoreServlet" method="POST" id="addToCartForm">
                         <p><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span></button></p>
                         <input type="hidden" name="page" value="addToCart">
                         <input type="hidden" name="bookId" value="${bq.id?html}">
                         </form>
                         </#if>
                         </#if>
                     </div>    
                	</div>
                <#if bq?index%4==3>	
                </div>
                </#if>
                <#else>
                	<#break>
                </#if>
           </#list>
        </div>
        
    </body>
</html>