
	<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="#">Welcome<#if user??>, ${user}<#else></#if></a>
                    </div> 
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active">
                            	<form method="POST" action="BookstoreServlet" id="goHomeForm">
                            		<input type="hidden" name="page" value="goHome">
                            	</form>
                            	<a href="javascript:{}" onclick="document.getElementById('goHomeForm').submit()"><span class="glyphicon glyphicon-home"></span></a>
                            </li>
                        
                        </ul>
                        
                        <form class="navbar-form navbar-left" method="POST" action="BookstoreServlet">
                            <div class="input-group">
                                <input type="text" class="form-control" name="allColumnSearch" placeholder="Search Catalog">
                                <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                <input type="hidden" name="page" value="allColumnSearch">
                                </div>    
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                            <a href="javascript:{}" onclick="document.getElementById('adv').submit()"><span class="glyphicon glyphicon-search"></span> Advanced Search</a>
                            <form action="BookstoreServlet" method="POST" id="adv">
                            		<input type="hidden" name="page" value="adv">
                            	</form>
                            </li>                            
                        </ul>   
                        <ul class="nav navbar-nav navbar-right">
                        	<#if type??>
                        		<#if type =="CUSTOMER">
                            <li>
                            <a href="javascript:{}" onclick="document.getElementById('orderForm').submit()"><span class="glyphicon glyphicon-plane">  Orders <#if c??><span class="badge">${c.orderNumber}</span></#if></span></a>
                            <form action="BookstoreServlet" method="post" id="orderForm">
                            	<input type="hidden" name="page" value="order">
                            	<input type="hidden" name="userId" value="${id?html}">
                            </form>
                            </li>
                            <li>
                            <a href="javascript:{}" onclick="document.getElementById('cartForm').submit()"><span class="glyphicon glyphicon-shopping-cart">  Cart <#if cart??><span class="badge">${cart.number}</span></#if></span></a>
                            <form action="BookstoreServlet" method="post" id="cartForm">
                            	<input type="hidden" name="page" value="cart">
                            	<input type="hidden" name="userId" value="${id?html}">
                            </form>
                            </li>
                            <li>
                            <a href="javascript:{}" onclick="document.getElementById('profileForm').submit()"><span class="glyphicon glyphicon-user"></span>  Profile</a>
                            <form action="BookstoreServlet" method="POST" id="profileForm">
                            	<input type="hidden" name="page" value="profile">
                            	<input type="hidden" name="userId" value="${id?html}">
                            </form>
                            </li>
                            </#if>
                            </#if>
                            <#if type??>
                            	<#if type=="ADMIN">
                            	<li class="dropdown">
    								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
    								<span class="caret"></span></a>
    								<ul class="dropdown-menu">
      									<li><form action="BookstoreServlet" method="POST" id="editUsersForm">
                    						<input type="hidden" name="page" value="editUsers">
                    						</form>
                    						<a href="javascript:{}" onclick="document.getElementById('editUsersForm').submit()">Edit Users</a> 
                    					</li>
      									<li>
      										<form action="BookstoreServlet" method="POST" id="editBooksForm">
                    						<input type="hidden" name="page" value="editBooks">
                    						</form>
                    						<a href="javascript:{}" onclick="document.getElementById('editBooksForm').submit()">Edit Books</a> 
      									</li>
      									<li>
      										<form action="BookstoreServlet" method="POST" id="editPromoForm">
                    							<input type="hidden" name="page" value="editPromotions">
                    						</form>
                    						<a href="javascript:{}" onclick="document.getElementById('editPromoForm').submit()">Edit Promotions</a> 
      									</li>
      									<li>
      										<form action="BookstoreServlet" method="POST" id="addPromoForm">
                    							<input type="hidden" name="page" value="addPromos">
                    						</form>
                    						<a href="javascript:{}" onclick="document.getElementById('addPromoForm').submit()">Add Promotion</a> 
      									</li>
      			<li>
      										<form method="POST" action="BookstoreServlet" id="addBookForm">
                    						<input type="hidden" name="page" value="addBookPage">
                    						</form>
                    						<a href="javascript:{}" onclick="document.getElementById('addBookForm').submit()">Add Book</a> 
      									</li>  
   									</ul>
  								</li>
  								</#if>
  							</#if>
  							<#if user??>
                            <li>
                            	<a href="javascript:{}" onclick="document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span>  Logout</a>
                            	<form action="BookstoreServlet" method="POST" id="logoutForm">
                            		<input type="hidden" name="page" value="logout">
                            	</form>
                            </li>
                            <#else>
                            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
                            <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                            </#if>
                        </ul>
                    </div>    
                
            </div>
        </nav>