<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="../CSS/style.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
       
    <title>User Profile</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/> 
    
    <script>
		function clickedSuspend(e){
			if(!confirm('Are you sure you want to suspend user ${u.email?html}?'))e.preventDefault();
			}
		function clickedDelete(e){
			if(!confirm('Are you sure you want to delete user ${u.email?html}? This action cannot be undone.'))e.preventDefault();
			}
		function clickedUnSuspend(e){
			if(!confirm('Are you sure you want to unsuspend user ${u.email?html}?'))e.preventDefault();
			}
    </script> 
    </head>
    <body style="background:gray">
        <#include "navbar.html">
        <div class="container" style="background:white">
            <div class="row">
                <div class="col-md-2">
                    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="img-rounded" alt="Default Profile" width="200" height="200">
                    <#if u.type == type>
                    <p><a href="#">Edit Profile</a></p>
                    </#if>
                   
                </div>
                 <#if type == "ADMIN">
                 	<#if u.status == "VERIFIED"> 
                    <form action="BookstoreServlet" method="post" onclick="clickedSuspend(event)">
                    	<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-lock"> Suspend</span></button>
                    	<input type="hidden" name="page" value="suspendUser">
                    	<input type="hidden" name="suspendUserId" value="${u.id?html}">
                    </form>
                    <#else>
                    <form action="BookstoreServlet" method="post" onclick="clickedUnSuspend(event)">
                    	<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-lock"><#if u.status=="SUSPENDED"> UnSuspend<#else> Verify</#if></span></button>
                    	<input type="hidden" name="page" value="unSuspendUser">
                    	<input type="hidden" name="unSuspendUserId" value="${u.id?html}">
                    </form>
                    
                    </#if>
                    <form action="BookstoreServlet" method="post" onclick="clickedDelete(event)">
                    	<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-trash"> Delete</span></button>
                    	<input type="hidden" name="page" value="deleteUser">
                    	<input type="hidden" name="deleteUserId" value="${u.id?html}">
                    </form>
                    
                    </#if>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                	<fieldset>
                	<legend> User Info</legend>
                    <p>Name: ${u.fname}</p>
                    <p>Surname: ${u.lname}</p>
                    <p>Email: ${u.email}</p>
                    <#if u.type == type>
                    <p>Address: <#if u.address??>${u.address}</#if></p>
                    <p>Phone Number: <#if u.number??>${u.number}</#if></p>
                    <p>Card Type: <#if u.cardType??>${u.cardType}</#if></p>
                    <p>Card Number: <#if u.cardNumber??>${u.cardNumber}</#if></p>
                    <p>Card Expiration Date: <#if u.cardExpDate??>${u.cardExpDate}</#if></p>
                    </#if>
                    </fieldset>
                </div>
            </div>
        </div>
    </body>

</html>